.box-carousel {
    position:absolute;
    margin-right: 0.1rem;
}

.flex-card {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.card-firmas {
    display: flex;
    height: 250px;
    width: 180px;
    border-radius: 5px;
    transition: 0.3s ease-out;
    margin-left: 2rem;
    align-items: center;
}

#margin-discography {
    margin-bottom: 45rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  
    #margin-discography {
        margin-bottom: 25rem;
    }
}

@media screen and (max-width: 576px) {  
    #margin-discography {
        margin-bottom: 12rem;
    }
}