* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Nunito';
}

#main{
 display: flex;
 flex: 1;
}

nav {
    height: 4rem;
    background: white;
}

hr {
    height: 5rem;
    background:url(assets/img/logoseparador.png) no-repeat center;
    border: none;
    margin: 1rem;
}

h1 {
    color: rgba(236, 11, 11, 0.973);
    display: inline-block;
}

.color-white {
    color: white
}

.color-black {
    color: black
}

.div-box {
    border: solid 1px black;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.div-box-img {
    border: solid 1px white;
    display: inline-block;
    padding: 5px 5px;
    width: 700px;
    height: 400px;
}

#fondo-discography {
    background-image: url(assets/img/dibujo-radiohead-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: top;
	height:20rem;
	max-width: 100%;
	position: relative
}


.first-button:hover {
    background: black;
    color: white;
}

.fondo-index {
    background-image: url(assets/img/radiohead_1_wallpaper.jpg);
    max-width: 100%;
    background-size: cover;
    height: 32rem;
}

ul {
    list-style: none;
    font-size: 1.2rem;
}

li {
    width: 30;
    position:relative;
    font-size: 1.2rem
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display:block;
}

button {
    font-family: 'Nunito';
    background: white;
    color: black;
    font-size: 1.5rem;
    border: 0.1rem solid #fff;
    border-radius: 1rem;
}

footer {
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
    margin-top: 5rem;
}

i {
    color: white;
    font-size: 1.4rem;
}

#i-black {
    color: black;
}

.footer-image {
    background-image: url(assets/img/amnesiac-1-wallpaper.jpg);
    background-size: cover;
	background-position: bottom;
	height:12rem;
	max-width: 100%;
}

#margin-header {
    margin-top: 28rem;
    margin-bottom: 5rem;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}   

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}   

.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-icons-nav {
    padding-left: 22rem;
}

.flex-footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

fieldset {
    width:45rem;
    height:5rem;
    color:#000000;
    font-size:1rem;
    padding-top:1rem;
    margin-bottom: 2rem;
}