* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Nunito';
}

.div-box {
    border: solid 1px black;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.fondo-index {
    background-image: url(assets/img/radiohead-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	height:20rem;
	max-width: 100%;
	position: relative
}

#fondo-discography {
    background-image: url(assets/img/dibujo-radiohead-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: top;
	height:20rem;
	max-width: 100%;
	position: relative
}

.footer-image {
    background-image: url(assets/img/amnesiac-wallpaper.jpg);
    background-size: cover;
	background-position: bottom;
	height:20rem;
	max-width: 100%;
}

.color {
    color: red;
}

#footer-font {
    color: white;
}

ul {
    list-style: none;
    font-size:0 /* truco por el uso de inline-block*/
   }

li {
    display: inline-block;
    width: 30; /*para que se separen las letras*/
    position:relative;
    font-size: 15px
   }

ul ul {
    position: absolute;
    display: none;
   }

ul ul li {
    display: block;
   }

ul li:hover ul {
    display:block;
   }

i {
    color: white;
}

button {
    font-family: 'Nunito';
    background: white;
    color: black;
}

.first-button:hover {
    background: black;
    color: white;
}